<?xml version="1.0" encoding="utf-8"?>
<widget xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0" id="io.cordova.myapp6e87643567634da4ba86728612464ba6" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" defaultlocale="en-GB">
  <name>Unity Docs</name>
  <description>File hosting service that allows users to sync files and later access them from a web browser or mobile device.</description>
  <author href="http://www.sanderson.com/" email="Ronan.Lewis@sanderson.com">Ronan Lewis</author>
  <content src="index.html" />
  <access origin="*" />
  <icon src="images/icon.png" width="48" height="48"></icon>

  <!-- Plugins -->
  <gap:plugin name="org.apache.cordova.file-transfer"/>
  <gap:plugin name="io.github.pwlin.cordova.plugins.fileopener2"/>
  <gap:plugin name="org.apache.cordova.file"/>
  <gap:plugin name="org.apache.cordova.inappbrowser"/>
  <gap:plugin name="nl.x-services.plugins.actionsheet"/>
  <!--<gap:plugin name="com.telerik.plugins.nativepagetransitions" version="0.2.2" />-->
  <gap:plugin name="com.jcjee.plugins.emailcomposer"/>
  
</widget>