<?xml version="1.0" encoding="utf-8"?>
<widget xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:gap="http://phonegap.com/ns/1.0" id="com.sanderson.unitydocs" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" defaultlocale="en-GB">
  <name>Unity Docs</name>
  <description>File hosting service that allows users to sync files and later access them from a web browser or mobile device.</description>
  <author href="http://www.sanderson.com/" email="Ronan.Lewis@sanderson.com">Sanderson</author>
  <content src="index.html" />
  <access origin="*" />
  <platform name="android">
    <icon src="images/icon.png" width="48" height="48"></icon>
  </platform>

  <gap:config-file platform="android" parent="/manifest">
    <application>
      <provider android:authorities="list"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true"
            android:icon="drawable resource"
            android:initOrder="integer"
            android:label="string resource"
            android:multiprocess="true"
            android:name="string"
            android:permission="string"
            android:process="string"
            android:readPermission="string"
            android:syncable="true"
            android:writePermission="string" >
      </provider>
    </application>
  </gap:config-file>

  <!-- Phonegap Version -->
  <!--<preference name="phonegap-version" value="3.7.0" />-->

  <!-- Plugins -->
  <gap:plugin name="cordova-plugin-file-transfer" source="npm"/>
  <gap:plugin name="cordova-plugin-listpicker" source="npm" />
  <gap:plugin name="cordova-plugin-inappbrowser" source="npm"/>
  <gap:plugin name="cordova-plugin-file-opener2" source="npm"/>
  <gap:plugin name="cordova-plugin-file" source="npm"/>
  <gap:plugin name="cordova-plugin-actionsheet" source="npm"/>
  <gap:plugin name="cordova-plugin-email" source="npm"/>
  <gap:plugin name="cordova-plugin-whitelist" source="npm" />
  <gap:plugin name="cordova-plugin-document-contract" source="npm" />
  <gap:plugin name="cordova-plugin-camera" source="npm" />
  <gap:plugin name="cordova-plugin-x-toast" source="npm" />
  <gap:plugin name="com.telerik.plugins.nativepagetransitions" source="npm" />

  <!-- Whitelist -->
  <allow-navigation href="http://*/*" />
  <allow-navigation href="https://*/*" />
  <allow-navigation href="data:*" />
  <access origin="*" />

</widget>