<?xml version="1.0" encoding="utf-8"?>
<widget xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0" id="com.sanderson.unitydocs" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" defaultlocale="en-GB">
  <name>Unity Docs</name>
  <description>File hosting service that allows users to sync files and later access them from a web browser or mobile device.</description>
  <author href="http://www.sanderson.com/" email="Ronan.Lewis@sanderson.com">Sanderson</author>
  <content src="index.html" />
  <access origin="*" />
  <icon src="images/icon.png" width="48" height="48"></icon>

  <!-- Phonegap Version -->
  <!--<preference name="phonegap-version" value="3.7.0" />-->

  <!-- Plugins -->
  <gap:plugin name="cordova-plugin-file-transfer" source="npm"/>
  <gap:plugin name="cordova-plugin-listpicker" source="npm" />
  <gap:plugin name="cordova-plugin-inappbrowser" source="npm"/>
  <gap:plugin name="cordova-plugin-file-opener2" source="npm"/>
  <gap:plugin name="cordova-plugin-file" source="npm"/>
  <gap:plugin name="cordova-plugin-actionsheet" source="npm"/>
  <gap:plugin name="cordova-plugin-email" source="npm"/>
  <gap:plugin name="cordova-plugin-spinnerdialog" source="npm" />
  <gap:plugin name="cordova-plugin-whitelist" source="npm" />
  
  <!--<gap:plugin name="de.appplant.cordova.plugin.email-composer"/>-->
  <!--<gap:plugin name="it.mobimentum.phonegapspinnerplugin"/>-->

  <!-- Whitelist -->
  <allow-navigation href="http://*/*" />
  <allow-navigation href="https://*/*" />
  <allow-navigation href="data:*" />
  <access origin="*" />
  
</widget>