html, body {
    font-family: 'Roboto', sans-serif !important;
}

/* Library List Items */

ul.km-listview.data-source li {
    padding: 0;
}

    ul.km-listview.data-source li a.library-link {
        padding: 15px;
        display: block;
        text-decoration: none;
    }

        ul.km-listview.data-source li a.library-link:active {
            background-color: rgba(15, 111, 198, 0.15);
        }

        ul.km-listview.data-source li a.library-link i.km-thumbnail.fa.font-size-36 {
            text-align: center;
            line-height: 75px;
        }

        ul.km-listview.data-source li a.library-link p.extra-info {
            font-size: 0.7em;
        }

    ul.km-listview.data-source li a[data-role=button].info-button {
        margin-top: 26.25px;
        margin-right: 10px;
        border-radius: 50%;
        height: 50px;
        line-height: 50px;
        width: 50px;
        padding: 0;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }

#libraries ul.km-listview.data-source li a[data-role=button].info-button {
    visibility: collapse;
}

ul.km-listview.data-source li a[data-role=button].info-button:active {
    background: #0D61AD;
    border-color: #0D61AD;
    color: white;
    box-shadow: none;
}

ul.km-listview.data-source li span.item-state-icon {
    font-size: 32px;
    margin: 10px;
    margin-top: 26.25px;
    line-height: 50px;
    float: right;
    margin-right: 25px;
}

ul.km-listview.data-source li a.info-button.other-user {
    background-color: rgb(255, 156, 47);
    border-color: rgb(247, 173, 90);
}

ul.km-listview.data-source li a[data-role=button].other-user.info-button:active {
    background: rgb(241, 136, 20);
    border-color: rgb(241, 136, 20);
    color: white;
    box-shadow: none;
}

ul.km-listview.data-source li a.info-button.current-user {
    background-color: #00B100;
    border-color: #00B100;
}

ul.km-listview.data-source li a[data-role=button].current-user.info-button:active {
    background-color: #008E00;
    border-color: #007D00;
    color: white;
    box-shadow: none;
}

/* ActionSheet Popup */

.km-popup-overlay.km-actionsheet-root {
    background-color: transparent !important;
}

    .km-popup-overlay.km-actionsheet-root .km-actionsheet-wrapper.km-actionsheet-auto.km-widget.km-popup {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

        .km-popup-overlay.km-actionsheet-root .km-actionsheet-wrapper.km-actionsheet-auto.km-widget.km-popup ul[data-role=actionsheet] li a:active {
            background-color: rgba(15, 111, 198, 0.15);
        }

/* Grid View */

ul.data-source.sortable.grid-view {
    text-align: center;
}

    ul.data-source.sortable.grid-view li:not(.empty-library) {
        display: inline-block;
        width: 190px;
        height: 190px;
        margin: 5%;
    }

    ul.data-source.sortable.grid-view li {
        border: 1px solid #C7C7C7;
        border-radius: 6px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }

        ul.data-source.sortable.grid-view li a.library-link {
            height: 100%;
            width: 100%;
        }

            ul.data-source.sortable.grid-view li a.library-link h4 {
                position: absolute;
                top: 5px;
                left: 50%;
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
            }

            ul.data-source.sortable.grid-view li a.library-link i {
                left: 50%;
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                position: absolute;
            }

            ul.data-source.sortable.grid-view li a.library-link p.extra-info {
                display: inline-block;
            }

        ul.data-source.sortable.grid-view li a.info-button {
            margin-top: 53px;
            margin-bottom: 10px;
            margin-right: 10%;
        }

        ul.data-source.sortable.grid-view li span.item-state-icon {
            margin: 0;
            position: absolute;
            font-size: 24px;
            left: 50%;
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            top: 28%;
        }

#library ul.data-source.sortable.grid-view li a.library-link i.km-thumbnail {
    text-align: center;
    line-height: 53px;
    margin-top: 38px;
    left: 25%;
}
